$baseBlue: rgb(154, 208, 226);
$activeBlue: rgb(118, 190, 214);
$baseRed: rgba(246, 112, 112, 0.96);
$activeRed: rgba(232, 101, 101, 0.96);
$texcolor: rgb(140, 143, 144);
$headercolor: rgb(247, 249, 247);