@import "src/styles/constants";
@import "src/styles/mixins";

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
 
  .modalContent {
    @include space-between;
    flex-direction: column;
    padding: 10px; 
    background-color: #fff;  
    height: 300px;
    width: 400px;
    margin: 200px auto;
    border-radius: 10px;

    .header {
      text-align: center;
      font-style: italic;
      // margin-bottom: 0;
    }

    .postTitle {
      @include input;
      margin-left: 12px;      
    } 

    .postBody {
      @include input;
      resize: none; 
      margin-left: 12px; 
   }

   .buttons {
    @include space-between;
  
    .createBtn {
      @include postButtons($baseBlue);
  
      &:hover {
        @include postButtons($activeBlue);
        cursor: pointer;
      }
    }
  
    .closeBtn {
      @include postButtons($baseRed);
  
      &:hover {
        @include postButtons($activeRed);
        cursor: pointer;
      }
    }
   }
  }
}

.none {
  display: none;
}

