@import "src/styles/constants";
@import "src/styles/mixins";

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
 
  .modalContent {
    @include space-between;
    flex-direction: column;
    padding: 10px; 
    background-color: #fff;  
    height: 370px;
    width: 450px;
    margin: 200px auto;
    border-radius: 10px;

    .header {
      text-align: center;
      font-style: italic;
      font-size: 30px;
    }

    .postTitle {
      @include input;
      margin-left: 12px;      
    } 

    .postBody {
      @include input;
      resize: none; 
      margin-left: 12px; 
   }

   .buttons {
    @include space-between;
  
    .createBtn {
      @include postButtons($baseBlue);
      font-size: 20px;
  
      &:hover {
        @include postButtons($activeBlue);
        cursor: pointer;
      }
    }
  
    .closeBtn {
      @include postButtons($baseRed);
      font-size: 20px;
  
      &:hover {
        @include postButtons($activeRed);
        cursor: pointer;
      }
    }
   }
  }
}

.none {
  display: none;
}

@media (max-width:$breakpointWidthThree) {

  .modal{

    .modalContent {
      padding: 15px; 
      height: 350px;
      width: 390px;
      margin: 50px auto;
    }
  }  
}

@media (max-width:$breakpointWidthFour) {

  .modal {

    .modalContent {
      padding: 10px;  
      height: 320px;
      width: 300px;
      margin: 120px auto;
  
      .header {
        font-size: 25px;
      }
  
      .postTitle {
        @include input;
        font-size: 22px;
        margin-left: 12px;      
      } 
  
      .postBody {
        @include input;
        resize: none; 
        font-size: 22px;
        margin-left: 12px; 
      }
    }
  }  
}

@media (max-height: $breakpointHeigthOne) {

  .modal{

    .modalContent {
      padding: 15px; 
      height: 300px;
      width: 390px;
      margin: 10px auto;
      border-radius: 10px;

      .header {
        margin-top: 0;
        font-size: 25px;
      }

      .postTitle {
        @include input;
        font-size: 20px;
        margin-left: 12px;      
      } 
  
      .postBody {
        @include input;
        resize: none; 
        font-size: 20px;
        margin-left: 12px; 
      }
    }
  }  
}