@import "src/styles/constants";
@import "src/styles/mixins";

.loginForm {
  font-family: "Source Sans Pro", sans-serif;
  width: 300px;
  margin: 220px auto;
  text-align: center;

  & h2 {
    font-size: 40px;
    font-style: italic;
    margin-bottom: 15px;
    color: $texcolor;
  }

  & span {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: $texcolor;
    margin-right: 10px;
  }

  .errorText {
    color: $errorcolor;
    margin: 0 5px 10px;
  }

  .forgot {
    font-size: 20px;
    text-decoration: none;
    color: $errorcolor;
  }
}

.input {
  width: 90%;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px $bntcolor solid;
  border-radius: 5px;
  color: $texcolor;

  &:focus {
    border: 3px $activcolor solid;
    outline: none;
  }
}

.inputError {
  border: 2px $errorcolor solid;

  &:focus {
    border: 3px $errorcolor solid;
  }
}

.btnSignin {
  @include btn(80%, $bntcolor, 10px, 10px, 20px, 2px solid $bntcolor, 5px);

  &:hover {
    @include btn(80%, $activcolor, 10px, 10px, 20px, 2px solid $activcolor, 5px);

    cursor: pointer;
  }
}
