@import "src/styles/constants";
@import "src/styles/mixins";

.loginForm {
  font-family: "Source Sans Pro", sans-serif;
  width: 450px;
  margin: 220px auto;
  text-align: center;

  & h2 {
    font-size: 50px;
    font-style: italic;
    margin-bottom: 20px;
    color: $texcolor;
  }

  & span {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    color: $texcolor;
    margin: 10px;
  }

  .checkBox{
    width: 16px;
    height: 16px;
  }

  .errorText {
    color: $baseRed;
    margin: 0 5px 10px;
  }

  .forgot {
    font-size: 28px;
    text-decoration: none;
    color: $baseRed;
    margin: 15px 0;
  }
}

.input {
  @include input;
}

.inputError {
  border: 2px $baseRed solid;

  &:focus {
    border: 3px $baseRed solid;
  }
}

.btnSignin {
  @include loginButtons($baseBlue);

  &:hover {
    @include loginButtons($activeBlue);
    cursor: pointer;
  }
}

@media (max-height: $breakpointHeigthOne) {
  
  .loginForm {
    margin: 0 auto;
   }
}