@import "src/styles/constants";
@import "src/styles/mixins";

* {
  font-family: "Source Sans Pro", sans-serif;
}
.mainHeader {
  text-align: center;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .post {
    @include space-between;
    flex-direction: column;
    color: $texcolor;
    padding: 0 15px 10px 15px;
    border: 1px solid  $baseBlue;
    border-radius: 10px;
    width: 30%;
    margin-top: 15px;
    
    h2 {
      color: #000;
      text-align: center;
      font-style: italic;
      text-transform: capitalize;
    }
  }
}

 .buttons {
    @include space-between; 

  .btnView {
    @include postButtons($baseBlue);

    &:hover {
      @include postButtons($activeBlue);
      cursor: pointer;
    }
  }

  .btnDelete {
    @include postButtons($baseRed);

    &:hover {
      @include postButtons($activeRed);
      cursor: pointer;
    }
  }
 }
